body {
  font-family: 'Roboto Mono', monospace;
  background-image: url(../images/randm.jpg);
  background-size: cover;

}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.start-btn {
  
  margin: 0 auto;
}
.container {
  min-height: 800px;
}

.card {
  /* float: none; */
  margin: 0 auto;
}
.btn-primary {
  margin: 0 auto;
  /* background-color: green; */
}
/* #chanceCounter {
  height: 100px; */

.main {
  min-height: 284px;
  background-color: rgba(51, 66, 75, 0.95)
}

.speakericon {
  width: 16px;
  height: 16px;
}

.speakerButton {
  position: absolute;
  left: 25px;
  top: 25px;
}

#off {
  width: 16px;
  height: 16px;
}

.data {
  height: 50%;
}