body {
  background-image: url(../images/randm.jpg);
  background-size: cover;

}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.container {
  height: 800px;
}

.card {
  /* float: none; */
  margin: 0 auto;
}
.btn-primary {
  margin: 0 auto;
  /* background-color: green; */
}
/* #chanceCounter {
  height: 100px; */

.main {
  height: 40%;
  background-color: rgba(51, 66, 75, 0.95)
}


#wrongLetters {
  height: 100%;
}


.data {
  height: 50%;
}